<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aphelion.FileImport.WindowsTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Aphelion.FileImport.WindowsTester.Properties.Settings>
            <setting name="txtFileName_Text" serializeAs="String">
                <value>D:\Dropbox (PW South Africa)\Clients\BIServices_Nigeria\Pagatech\R02_Recon\Recon Processes\Bank Recon\RawBankDownloads\Skye_116738_1408443339269.CSV</value>
            </setting>
            <setting name="txtConn_Text" serializeAs="String">
                <value>Data Source=.\sql2012;Initial Catalog=PagaRecon;Integrated Security=True</value>
            </setting>
            <setting name="txtSectionCode_Text" serializeAs="String">
                <value>SkyeImportHeader</value>
            </setting>
            <setting name="txtStartRow_Text" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="txtSchema_Text" serializeAs="String">
                <value>Staging</value>
            </setting>
            <setting name="txtTable_Text" serializeAs="String">
                <value>SkyeImportDetails</value>
            </setting>
            <setting name="txtSectionCodeDest_Text" serializeAs="String">
                <value>SkyeImportDetail</value>
            </setting>
        </Aphelion.FileImport.WindowsTester.Properties.Settings>
    </userSettings>
</configuration>